<template>
    <v-card>
        <v-card-title>
            <v-btn>Q Horas Q N Apuestas</v-btn>
        </v-card-title>
        <v-card-text>
            <chart></chart>
        </v-card-text>
    </v-card>
</template>
<script>
import chart from '../components/chartit'

export default {
    components:{
        chart
    },
    data:()=>({
        
    })
}
</script>