<template>
    <v-card>
        <v-card-title>{{anylevel}}
            <div class="flex-grow-1"></div>
            <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
            <span style="margin-left:25px;"><dlgeditu :title="anylevel" :flag="flgEdit" :isowner="flagIsOwner"/></span>
        </v-card-title>
        <v-data-table :headers="headers" :items="users" :items-per-page="5" class="elevation-1" :search="search">
            <template v-slot:item.sec_question="{item}">
                <span>{{item.sec_question}}</span><br>
                <span>{{item.sec_answer}}</span>
            </template>
            <template v-slot:item.action="{item}">
                <dlgeditu :title="anylevel" :flag="true" :edituser="item" :isowner="flagIsOwner" @afterupdate="editItem(item)"/>
                <yesnomodal title="Confirmar Acción" message="Desea eliminar esta información?" :itemtokill="item" @afteryesanswer="onYesAnswer"/>
            </template>
        </v-data-table>
    </v-card>
</template>
<script>
import dlgEditUser from './vwuser'
import yesnomodal from '../components/yesnomodal'

export default {
    components:{
        yesnomodal,
        'dlgeditu': dlgEditUser
    },
    data:()=>({
        dialog: false,
        anylevel: '',
        levelnum:'',
        flagIsOwner: false,
        flgEdit: false,
        search:'',
        headers:[
            {text:'Nombres', value:'name'},
            {text:'Apellidos', value:'lastname'},
            {text:'Usuario', value:'username'},
            {text:'Clave', value:'password'},
            {text:'Telefono', value:'phones'},
            {text:'Direccion', value:'address'},
            {text:'EMail', value:'email'},
            {text:'Rol', value:'roletype'},
            {text:'Seguridad (Pregunta/Respuesta)', value:'sec_question'},
            //{text:'Pregunta', value:'sec_question'},
            //{text:'Respuesta', value:'sec_answer'},
            //{text:'Nivel', value:'level'},
            {text:'Estado', value:'state'},
            {text:'', value:'action', sortable: false}
        ],
        users:[]
    }),
    
  watch:{
    $route(to,from){
        this.levelnum = this.$route.params.utype;
        this.anylevel = this.levelnum=="1"?"Dueños":"Clientes";
        this.flagIsOwner = (this.levelnum=="1");
        this.loadData();
    }
  },
    created(){
        this.init();
    },
    methods:{
        init(){
            this.levelnum = this.$route.params.utype;
            console.log("level num: " + this.levelnum);
        },
        loadData(){
            //'Content-Type': 'application/json',
            //'Accept': '*/*',
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            let lv = this.levelnum=="1"?"own":"clie";
            this.$http.get(this.$apiUrl+"/betserv/listusers/level/"+lv, config)
                .then(e=>{
                    if (e.data.obj != null){
                        this.users = [];
                        e.data.obj.forEach(item => {
                        let euser ={
                            id_usu: item.id_usu,
                            name: item.name, lastname: item.lastname, username: item.username, password: item.password, phones: item.phones, address: item.address, email: item.email, roletype: item.roletype,
                            sec_question: item.sec_question, sec_answer: item.sec_answer, level: item.level, state: item.state,
                            au_iduser: item.au_iduser
                        };
                        this.users.push(euser);
                        })
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        },
        showModal(){
            this.dialog = true;
        },
        closeModal(){
            this.dialog = false;
        },
        gotoNuevo(){
            this.$router.push("/user/new");
        },
        newItem(){
            this.dialog = true;
            this.flgEdit = false;
        },
        editItem(anyitem){
            this.dialog = true;
            this.flgEdit = true;
            console.log(anyitem);
        },
        killItem(anyitem){
            console.log(anyitem);
        },
        /*
        beforeKill(anyitem){
            console.log("beforeKill event");
            this.killitem = anyitem;
        },*/
        onYesAnswer(e){
            //console.log(e);
            let killitem = e;
            this.$http.post(this.$apiUrl+'/betserv/deluser/'+killitem.id_usu)
        },
        eventFire(el, etype){
            if (el.fireEvent) {
                el.fireEvent('on' + etype);
            } else {
                var evObj = document.createEvent('Events');
                evObj.initEvent(etype, true, false);
                el.dispatchEvent(evObj);
            }
        }
    }
}
</script>