<template>
    <v-dialog v-model="dialog" persistent>
        <template v-slot:activator="{on}">
            <v-icon v-if="flag" style="margin-top:20px;" small v-on="on">edit</v-icon>
            <v-btn v-else color="primary" dark v-on="on">Nuevo</v-btn>
        </template>
        <v-form v-model="valid">
        <v-card>
            <v-card-title>{{(flag?"Modificando en ":"Creando en ") + title}}</v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_name" label="Nombres" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_lastname" label="Apellidos" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_username" label="Usuario" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_password" label="Clave" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_phones" label="Telefono"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_address" label="Dirección"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_email" :rules="emailRules" label="E-mail" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_roletype" label="Rol" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_sec_question" label="Pregunta de Seguridad"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_sec_answer" label="Respuesta de Seguridad"></v-text-field>
                    </v-col>
                    <!--<v-col cols="12" md="4">
                    <v-text-field v-model="l_level" label="Nivel"></v-text-field>
                    </v-col>-->
                    <v-col cols="12" md="4">
                    <v-text-field v-model="l_state" label="Estado"></v-text-field>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" @click="saveUser">Guardar</v-btn>
                <v-btn color="error" @click="cancelUser">Cancelar</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</v-dialog>
</template>
<script>
export default {
    props:['title','flag','edituser','isowner'],
    data:() =>({
        flgonce: false,
        seluser: null,
        dialog: false,
        valid:false,
        l_name:'', l_lastname:'', l_username:'', l_password:'', l_phones:'', l_address:'', l_email:'', l_roletype:'',
        l_sec_question:'', l_sec_answer:'', l_level:'', l_state:'',
        nameRules:[
            v => !!v || 'Nombres es importante'
        ],
        lastnameRules:[
            v => !!v || 'Apellidos es importante',
            //v => v.length > 35 || 'Apellidos no debe tener más de 35 letras',
        ],
        emailRules:[
            v => !!v || 'E-mail es necesario',
            //v => /.+@.+/.test(v) || 'E-mail debe tener formato válido'
        ]
    }),
    updated(){
        if (this.flag){
            if (this.flgonce) return;
            this.seluser = this.edituser;
            this.l_name = this.seluser.name; this.l_lastname = this.seluser.lastname; this.l_username = this.seluser.username;
            this.l_password = this.seluser.password; this.l_phones = this.seluser.phones; this.l_address = this.seluser.address;
            this.l_email = this.seluser.email; this.l_roletype = this.seluser.roletype;
            this.l_sec_question = this.seluser.sec_question; this.l_sec_answer = this.seluser.sec_answer;
            this.l_level = this.seluser.level; this.l_state = this.seluser.state;
            this.flgonce = true;
        }else{
            //this.cleanUser();
        }
    },
    methods:{
        cleanUser(){
            this.l_name = ''; this.l_lastname = ''; this.l_username = '';
            this.l_password = ''; this.l_phones = ''; this.l_address = '';
            this.l_email = ''; this.l_roletype = '';
            this.l_sec_question = ''; this.l_sec_answer = '';
            this.l_level = ''; this.l_state = '';
        },
        saveUser(){
            let newuser ={
                id_usu: 0,
                name: this.l_name, lastname: this.l_lastname, username: this.l_username, password: this.l_password, phones: this.l_phones, address: this.l_address, email: this.l_email, roletype: this.l_roletype,
                sec_question: this.l_sec_question, sec_answer: this.l_sec_answer, level: this.l_level, state: this.l_state,
                au_iduser: 0
            }
            if (this.flag){
                newuser.id_usu = this.seluser.id_usu;
                newuser.au_iduser = this.seluser.au_iduser;
                this.$http.post(this.$baseUrl+'/edituser',newuser)
                this.$emit('afterupdate');
            }else{
                newuser.level = (this.isowner?"own":"clie");
                this.$http.post(this.$baseUrl+'/adduser',newuser)
            }
            this.flgonce = false;
            this.dialog = false;
        },
        cancelUser(){
            this.dialog = false;
            this.flgonce = false;
        }
    }
}
</script>