<template>
    <svg>
        <circle r="50" fill="#fff"/>
    </svg>
</template>
<script>
export default {
    methods:{

    },
    computed:{
        lineGenerator(){
           return d3.line()
                .x(v => v[0])
                .y(v => v[1])
        },
        d(){
            return this.lineGenerator();
        }
    }
}
</script>