<template>
    <div v-if="clieinfo!=null" style="font-size:16px; border-radius:12px;">
        <v-row>
            <v-col><strong style="color:#999;">Client ID :</strong></v-col>
            <v-col><span>{{clieinfo.id_usu}}</span></v-col>
        </v-row>
        <v-row>
            <v-col><strong style="color:#999;">Datos Personales :</strong></v-col>
            <v-col><span>{{clieinfo.name + " " + clieinfo.lastname}}</span></v-col>
        </v-row>
        <v-row>
            <v-col><strong style="color:#999;">Usuario :</strong></v-col>
            <v-col><span>{{clieinfo.username}}</span></v-col>
        </v-row>
        <v-row>
            <v-col><strong style="color:#999;">Teléfono :</strong></v-col>
            <v-col><span>{{clieinfo.phones}}</span></v-col>
        </v-row>
        <v-row>
            <v-col><strong style="color:#999;">Dirección :</strong></v-col>
            <v-col><span>{{clieinfo.address}}</span></v-col>
        </v-row>
        <v-row>
            <v-col><strong style="color:#999;">Correo :</strong></v-col>
            <v-col><span>{{clieinfo.email}}</span></v-col>
        </v-row>
        <v-row>
            <v-col><strong style="color:#999;">Rol :</strong></v-col>
            <v-col><span>{{clieinfo.roletype}}</span></v-col>
        </v-row>
        <v-row>
            <v-col><strong style="color:#999;">Estado:</strong></v-col>
            <v-col><span>{{clieinfo.state}}</span></v-col>
        </v-row>
    </div>
</template>
<script>
export default {
    props:['clieinfo'],
    data:()=>({

    }),
}
</script>